@font-face {
  font-family: klinic-slab-book;
  src: url('../fonts/KlinicSlabBook.otf');
}

@font-face {
  font-family: klinic-slab-bold;
  src: url('../fonts/KlinicSlabBold.otf');
}

:root {
  --marinara-red: #cf1c44;
  --wine: #5e1211;
  --espresso: #543136;
  --leafy-green: #0b9446;
  --cafe: #7b573e;
  --cannoli: #d8c6b8;
  font-family: 'klinic-slab-book';
}

p,
div,
span,
blockquote,
cite,
li,
a {
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.klinic-bold {
  font-family: klinic-slab-bold;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  height: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0.5;
}

div.logo-container {
  width: 15rem;
  height: inherit;
}

h2 {
  font-size: 2rem;
}

h3 {
  text-transform: capitalize;
  font-size: 1.7rem;
}

#menu h3 {
  color: var(--marinara-red);
}

.author {
  font-style: italic;
}

main {
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  max-width: 65rem;
  width: 100%;
  margin: auto;
  flex-grow: 1;
}

h1.page-title {
  font-size: 4rem;
  text-align: center;
  width: 100%;
}

header {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header,
footer {
  /* background: url('../images/parchment-reduced.webp'); */
}

.green-text {
  color: var(--leafy-green);
}

.bold-text {
  font-weight: bold;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  width: 40vw;
}

.navigation li a,
.active-page {
  padding: 0rem 1rem;
  flex-grow: 1;
  color: var(--espresso);
  font-weight: bold;
}

span.active-page {
  color: var(--marinara-red);
  text-decoration: underline;
}

#hero-image {
  position: relative;
  text-align: center;
}

h1 + img {
  max-width: 100%;
  max-height: 80%;
  object-fit: cover;
}

#hero-image div {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2rem;
}

.testimonials {
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

footer a:visited,
a {
  color: var(--espresso);
}

.about {
  width: 80%;
  margin: auto;
  color: var(--wine);
  padding: 1rem 0;
}

/* MENU PAGE: */

#menu {
  margin: auto;
}

.menu-wrapper {
  display: flex;
  justify-content: start;
  flex-flow: column;
}

.menu-wrapper .section-title {
  text-align: center;
  font-size: 3rem;
  color: var(--marinara-red);
}

div.menu-items {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-bottom: 5rem;
}

div.menu-item .price {
  font-style: italic;
  color: var(--cafe);
  font-weight: bold;
}

#menu div.menu-item {
  max-width: 15rem;
  margin: 1.5rem 1.5rem 0 0;
  width: 100%;
}

#menu div.menu-item div.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

div.title-row span.title {
  font-size: 1.5rem;
}

#menu div.menu-item div.description {
  font-style: italic;
  font-size: 1.2rem;
}

/* Online Ordering */

.ordering-services {
  display: flex;
  justify-content: space-around;
}

.ordering-services a {
  color: var(--wine);
}

.ordering-service {
  display: flex;
  flex-flow: column;
  align-items: center;
}

i.order-service-icon {
  display: block;
  width: 7rem;
  height: 7rem;
  padding: 1rem;
}

.ordering-service div {
  font-size: 2rem;
}
#food-shop-icon {
  fill: #e3b64b;
  stroke: #000;
  stroke-width: 1rem;
}

#grub-to-you-icon {
  fill: #e38b4b;
  stroke: #804e00;
  stroke-width: 1rem;
}

#fast-dash-icon {
  fill: #237d28;
  stroke: #9b8222;
  stroke-width: 1rem;
}
